@using WebMatrix.Data
@using WebMatrix.WebData

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Digital Evidence Management System - @ViewBag.Title</title>
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    @Styles.Render("~/css/main.css")
    @RenderSection("stylesheets", required: false)
</head>
<body>
    @Html.Partial("Header")
    <div class="container nopad">
        <div class="head1 grad2">@ViewBag.Title</div>
        <div>@RenderBody()</div>
    </div>  

    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    @Scripts.Render("~/scripts/global.js")
    @RenderSection("scripts", required: false)
</body>
</html>
